# Binaries for programs and plugins
# Time-stamp: <2023-09-28 20:07:19 krylon>
*.exe
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*~
*#
.*
*.log
*TAGS*
bak.*
*.bak

.mypy.cache
__pycache__

*.pyc
